@import "../../GeneralStyle/variables.scss";

.mastery {
  background-color: #f5f8fe;
  padding: 2rem 0 4rem 0;
  margin-bottom: 3rem;
  .mastery_content {
    h1 {
      text-align: center;
      color: $primaryColor;
      margin: 0;
      padding-bottom: 1rem;
      @media screen and (max-width: 400px) {
        font-size: 22px;
      }
    }
    .mastery_cards {
      display: flex;
      width: 80%;
      margin: auto;
      justify-content: space-between;
      @media screen and (max-width: 968px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
      }
      @media screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        // row-gap: 3rem;
      }
      .mastery_card_wrapper {
        background-color: white;
        width: 30%;
        padding: 1rem 0 0 0;
        border-radius: 10px;
        box-shadow: $shadow;
        @media screen and (max-width: 968px) {
          width: 100%;
        }
        .mastery_card {
          padding-left: 3rem;
        }

        .all_courses {
          background-color: $primaryColor;
          height: 55px;
          width: 100%;
          border: none;
          color: #f5f8fe;
          font-size: 20px;
          font-weight: 700;
          cursor: pointer;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}
