@import "../../../GeneralStyle/variables.scss";

.it_shop_new_career {
  background-color: #fef5f4;
  width: 75%;
  margin: 3rem auto !important;
  text-align: center;
  padding: 2rem 0;
  border-radius: 10px;
  @media screen and (max-width: 540px) {
    width: 95%;
  }
  .it_shop_new_career_h1 {
    margin: 0;
    color: $thirdColor;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  .it_shop_new_career_p {
    margin: 0;
    color: #414042;
    @media screen and (max-width: 768px) {
      font-size: 13px;
    }
  }
}
