@import "./mixins.scss";
@import "./variables.scss";

.ant-input-affix-wrapper {
  background: #f2f2f2 !important;
  height: 50px !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  @include flexHorizontal;
}

input {
  background: #f2f2f2 !important;
}

.layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mylayout {
  display: flex;
  flex-direction: column;
}

.loginButton {
  width: 150px;
  height: 50px;
  margin: 0px;
  border-top: 1px solid #e43e2b;
  border-left: 1px solid #3b7ded;
  border-right: 1px solid #f0b501;
  border-bottom: 1px solid #2ba24c;
  border-radius: 10px;
  color: #414042;
  text-align: center;
  font-family: $fontFamily;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
}

.activehome {
  border-bottom: 3px solid gray;
}
