@import "../../../GeneralStyle/variables.scss";

.head {
  background-color: $thirdColor;
  text-align: center;
  color: $whiteTextColor;
  padding: 2rem 0;
  font-size: 22px;
}

.laptops__cards__content {
  background-color: #fef4f5;
  margin-top: 4rem;
  .art_and_design_double_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    width: 80%;
    margin: auto;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .art_and_design_single_card {
      background-color: $whiteTextColor;
      box-shadow: $shadow;
      // margin-top: 3rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 2rem;
        @media screen and (max-width: 450px) {
          padding: 1.5rem 0.5rem;
        }
        h2 {
          margin: 0;
          color: $thirdColor;
          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
          @media screen and (max-width: 490px) {
            font-size: 16px;
          }
        }
        p {
          margin: 0;
          font-size: 12px;
          font-weight: 700;
        }
      }
      .img {
        width: 95%;
        margin: auto;
        img {
          width: 100%;
        }
      }
      .card_btns {
        display: flex;
        margin-top: 1rem;
        .left_btn {
          width: 50%;
          padding: 12px 50px;
          font-size: 14px;
          font-weight: 700;
          background-color: #414042;
          border: none;
          color: $whiteTextColor;
          border-bottom-left-radius: 10px;
          cursor: pointer;
          @media screen and (max-width: 768px) {
            padding: 12px 0;
          }
        }
        .right_btn {
          width: 50%;
          padding: 15px 50px;
          font-size: 14px;
          font-weight: 700;
          background-color: $thirdColor;
          border: none;
          color: $whiteTextColor;
          border-bottom-right-radius: 10px;
          cursor: pointer;
          @media screen and (max-width: 768px) {
            padding: 12px 0;
          }
        }
      }
    }
  }
}
